* {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

section h1 {
    font-size: 5rem;
    margin-bottom: 30px;
    font-weight: 400;
    text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* ---------Nav----------- */

.navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  border: none;
  background: transparent;
  transition: 1s all ease;
  border-radius: 0px;
}

#myNavbar a {
  color: white;
}

.nav_container {
  background: #333;
  padding: 5px;
}

.nav_text {
  font-size: 17px;
}

#myNavbar ul li a:hover {
  color: #458B00;
}

.navBack,.navbar-fixed-top {
    background-color: #272727;
}

.nav_scroll {
  background-color: #272727;
  transition: 1s all ease;
}

#navHeader {
  color: white;
  font-size: 17px;
  padding-left: 30px;
}

/* ---------Main_page----------- */

.big_pic {
   background: url("../images/background.jpg") no-repeat center center fixed;
   background-size: cover;
   margin: 0;
   padding-bottom: 0;
   position: relative;
   content: '';
  }

.vertical-center {
     min-height: 100%;
     min-height: 100vh;
     display: flex;
     align-items: center;
  }

.big_pic .container {
    position: relative;
    z-index: 1;
}

.big_pic p {
  color: white;
  text-align: center;
  font-size: 2em;
}

.big_pic h1 {
  color: white;
  text-align: center;
  font-size: 4em;
}

#hidden {
  visibility: hidden;
}

/* ---------ABOUT ME----------- */

#about_me {
    padding: 50px;
    background-color: black;
    color: white;
  }

.my_story {
   line-height: 50px;
   width: 100%;
   font-size: 1.4em;
   text-align: justify;
  }

.profile_pic {
  margin-left: 150px;
  border-radius: 50%;
}

/* ---------PROJECTS----------- */

#projects {
  background-color: #fff;
  color: #000;
  padding: 50px;
}

.hidden_element {
  opacity: 0;
}

.fade {
  opacity: 1;
}

#first_row {
  padding-top: 50px;
}

.project_div {
  padding: 20px;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 0px 2px 30px 2px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 2px 30px 2px rgba(0,0,0,0.12);
  box-shadow: 0px 2px 30px 2px rgba(0,0,0,0.12);
}

.modal1, .modal2, .modal3, .modal4, .modal5 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.8);
}

.closes {
    display: block;
    border-style: none;
    outline: none;
    width: 2em;
    height: 2em;
    font: 2em Arial;
    background-color: #fff;
    color: #000;
    border-radius: 0.5em;
    line-height: 0;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
}

.model_style {
  display: block;
  width: 1000px;
  height: 40em;
  padding: 2em;
  background-color: #fff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2%;
}

button.closes:hover {
    background-color: #000;
    color: #fff;
    transition: .5s ease;
}

/* Loading Image */

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/gear.gif') 50% 50% no-repeat rgb(51, 51, 51);
}

.h1_loader {
  position: relative;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  top: 57%;
}

/* Contact */

#contact {
  background: #202121;
  color: #fff;
  margin-top: 50px;
}

.contact_info {
  font-size: 1.4em;
  text-align: center;
}

.social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  padding-bottom: 40px;
}

footer p {
  text-align: center;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
}

/* Media Queries */

@media (max-width: 866px) {

/* About section */

 .my_story {
   font-size: 15px;
   margin: 0 auto;
   line-height: 35px;
 }
  .about_title {
    font-size: 2em;
  }

  .about {
    width: 75%;
    text-align: center;
  }

  #about_me {
    padding: 50px 0 50px 0;
  }

  /* Project section */

  .project {
    text-align: center;
  }

  .projects_title {
    font-size: 2em;
  }

  .model_style {
    width: 700px;
    height: 30em;
    overflow: scroll;
  }

}

@media (max-width: 740px) {

  .model_style {
    width: 700px;
    height: 30em;
  }

  .big_pic {
    background-attachment: scroll;
  }
}

@media (max-width: 425px) {

  .model_style {
    width: 400px;
    height: 30em;
  }

  .closes {
     width: 1em;
     height: 1em;
  }

  .social_media {
    width: 100%;
  }
}

@media (max-width: 414px) {

  .model_style {
    width: 390px;
    height: 30em;
  }

  .closes {
     width: 1em;
     height: 1em;
  }
}

@media (max-width: 375px) {

  .model_style {
    width: 340px;
    height: 20em;
  }

  .closes {
     width: 1em;
     height: 1em;
  }

}

@media (max-width: 320px) {

  .model_style {
    width: 300px;
    height: 20em;
  }

  .closes {
     width: 1em;
     height: 1em;
  }
}
