* {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

/* Nav */

ul {
    background: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Background image */

html {
	/* This image will be displayed fullscreen */
	background:url('background/background.jpeg') no-repeat center center;

	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;

	/* The Magic */
	background-size:cover;
}

body {
	/* Workaround for some mobile browsers */
	min-height:100%;
}
