* {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

/* Main Header */


.main-header {
 background: #333;
 width: 100%;
}

/* Main Content */

.container {
  width: 70%;
  margin: 0 auto;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.intro_header {
  padding: 50px;
  margin: auto;
  width: 75%;
}

p {
  width: 70%;
}
